In [2]:
#Importing Important packages
import pandas as pd
import numpy as np

In [3]:
# Reading the data
data=pd.read_csv("sample_data.csv")

In [4]:
#Some important information about data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  15 non-null     int64
 1   Name                15 non-null     object
 2   Age                 12 non-null     float64
 3   Gender              13 non-null     object
 4   Phone               13 non-null     object
 5   Email               15 non-null     object
 6   Address             14 non-null     object
 7   Credit_Score        15 non-null     object
 8   Last_Purchase_Date  14 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ KB

In [6]:
#Converting the age cploumn from float to integer
data['Age'] = data['Age'].astype('Int64')
median_age = data['Age'].median()
median_age = round(median_age)

# Fill missing ages with the median value
data['Age'].fillna(median_age, inplace=True)

In [9]:
 #Handling missing values in 'Gender', 'Phone', and 'Address'
data['Gender'].fillna('Unknown', inplace=True)
data['Phone'].fillna('Unknown', inplace=True)
data['Address'].fillna('Unknown', inplace=True)

#Handling missing values in 'Last_Purchase_Date'
most_recent_date = pd.to_datetime(data['Last_Purchase_Date']).max()
data['Last_Purchase_Date'].fillna(most_recent_date, inplace=True)

In [10]:
# Convert 'Credit_Score' to numeric type and replace 'unknown' with NaN
data['Credit_Score'] = pd.to_numeric(data['Credit_Score'], 
                                     errors='coerce')

# Calculate the mean of the available credit scores
mean_credit_score = data['Credit_Score'].mean()

# Fill missing credit scores with the mean value
data['Credit_Score'].fillna(mean_credit_score, inplace=True)

In [ ]:
#Drop duplicate valures from the data
data.drop_duplicates(inplace=True)

In [11]:
#Checking if there is any null value left after cleaning
data.isnull()

,ID,Name,Age,Gender,Phone,Email,Address,Credit_Score,Last_Purchase_Date
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False

In [12]:
#Checking first five rows of the dataset
print(data.head())

    ID               Name  Age   Gender             Phone  \
0  177       James Rhodes   52        M      504.554.3776
1  984  Kimberly Crawford   56  Unknown           Unknown
2  722       Karen Walker   59        M           Unknown
3  870       Sandra Smith   48        M  479.487.9989x242
4  664       Alison Walsh   77        M  001-879-250-3309

                     Email                                            Address  \
0   fostergina@example.com  3892 Kathleen Square Apt. 817\nLake Jill, AZ 1...
1     krussell@example.com     51987 Bush Ranch Suite 663\nScottton, PA 03611
2  kiarapeters@example.net      29197 Austin Flat\nEast Robertmouth, NE 42823
3     rodney99@example.net           185 Le Villages\nPort Johnside, WY 42113
4     denglish@example.com  295 Matthew Inlet Suite 676\nJohnsonland, NC 4...

   Credit_Score Last_Purchase_Date
0    775.916667         2021-09-19
1    700.000000         2023-02-25
2    870.000000         2021-09-17
3    775.916667         2021-11-24
4    775.916667         2022-05-08